<!DOCTYPE html>
<html>
<head>
  <title>You are not allowed to access this page</title>
</head>
<body>
  <div class="dialog">
    <h1>You are <span style="color:red;">not</span> allowed to access this page</h1>
  </div>
</body>
</html>