<div class="m-3">
  <p>Welcome to <b>Project Management</b> tool. Here Project manager can create new project assign those project to developers. Create todo's for projects and assign them to developers.</p>
  <p>
  Where as developer can see his todo list and change the status on todo's
  </p>
</div>