<div>
  <div class="row m-3">
    <div class="pull-right">
      <%= link_to 'Todo List', project_todos_path(project_id: @project), class: 'btn btn-primary mr-3' %>
    </div>
    <div class="pull-right">
      <%= link_to 'Add new Todo', new_project_todo_path(project_id: @project), class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-8 margin-auto">
      <h3 class="pl-3">Edit Project: <%= @project.title %></h3>
      <%= render 'form' %>
    </div>
  </div>
</div>
