<%= render 'shared/search_by_project_section', note: "Search by project to see todo's of different projects.", path: developer_todo_list_todos_path %>
<div class="dev-todo-listing">
  <%= render 'dev_todo_listing', todos: @todos %>
</div>