<div class="row mt-3">
  <div class="col-md-8 margin-auto">
    <h3 class="pl-3">Edit Todo: <%= @todo.title %></h3>
    <%= form_for(@todo, url: project_todo_path, method: 'patch') do |f| %>
      <%= render 'form', f: f %>
    <%end%>
  </div>
</div>
