<div class="row mt-3">
  <div class="col-md-8 margin-auto">
    <h3 class="pl-3">Create New Todo</h3>
    <%= form_for(@todo, url: project_todos_path) do |f| %>
      <%= render 'form', f: f %>
    <%end%>
  </div>
</div>
