<div class="row">
  <div class="col-md-2">
    List Projects
  </div>
  <div class="col-md-2">
    Add Projects
  </div>
  <div class="col-md-2">
    Assign Developer
  </div>
  <div class="col-md-2">
    todo list
  </div>
</div>